.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #14432e;
}

.nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav li a:hover {
  color: #feda00;
}

.active {
  color: #feda00;
  font-weight: bold;
}

.button {
  background-color: #feda00;
  color: #000;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e2c200;
  color: #000;
}
